# ============================================================
# IDE
# ============================================================
.idea/
.vscode/

# ============================================================
# Python
# ============================================================
__pycache__/
*.py[cod]
*.egg-info/

# Environnements virtuels
.venv/
venv/
env/

# ============================================================
# Build / Packaging
# ============================================================
build/
dist/
*.whl

# ============================================================
# Databricks
# ============================================================
.databricks/


# ============================================================
# Données locales NYC Taxi
# ============================================================
nyc_taxi/data/**
!nyc_taxi/data/**/
!nyc_taxi/data/**/.gitkeep

# ============================================================
# Spark / Hive / Derby
# ============================================================
*.db
metastore_db/
spark-warehouse/

# ============================================================
# Logs
# ============================================================
*.log
nyc_taxi/logs/
nyc_taxi/airflow/logs/

# ============================================================
# Fichiers locaux / temporaires
# ============================================================
*.tmp
*.temp
.DS_Store

# ============================================================
# Fichiers volontairement exclus
# ============================================================
nyc_taxi/docs/regle.md